/*.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}
*/

/*----------------------------------------------
BASE
----------------------------------------------*/
html{
    box-sizing: border-box;
    font: bold 62.5% "Averia Serif Libre", serif;
    color: #eca136;

}

*,* ::before, * ::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(9, 26, 33);
}

/*----------------------------------------------
MISE EN PAGE
----------------------------------------------*/
body{
  margin: 0;
  padding: 0;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}


/*----------------------------------------------
MODULES
----------------------------------------------*/
/*Header*/
header{
    width: 1000px;
    background-color: rgb(15, 38, 49, .95);
     
    position: fixed;
    top: 0;
    left: calc(50% - 500px); 
    z-index: 2;
    border-radius: 0 0 20px 20px ;
}

header .wrapper{
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 4rem;

}

/*Contenu*/
.contenu{
    max-width: 975px;
    margin:100px auto 0 ;
}

.contenu img{
    max-width: 100%;
}

.contenu ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    list-style-type: none;
    padding: 0;
}

.contenu li{
    padding: 20px;
    background-color: rgb(15, 38, 49);
    border-radius:10px ;

    position: relative;
}

.bouton{
    background-color: rgb(255, 255, 255, 0.5 );  
    max-width: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 0 5px;

    position: absolute;
    top: 20px;
    right: 20px;
}

.bouton:hover{
    cursor: grab;
}

.material-symbols-outlined {
    font-size: 3rem ;
}

/*Footer*/
footer .wrapper{
    height: 75px; 
    background-color: rgb(15, 38, 45, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0 ;
}

footer p{
    font-size:1.6rem ;
    /* font-variant: small-caps; */
    text-transform: uppercase;
    text-align:center ;

}

/*Nav Média sociaux*/
.media{
    background-color: rgb(15, 38, 49);
    border-radius: 0 15px 15px 0;
    position: fixed;
    top: 200px;
    left: 0;
}

.media img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

.media ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.media ul img:hover{
    position: relative;
    left: 3px;
}

/*Modale*/

.modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.80);
    display: none;
    justify-content: center;
    align-items: center;
}

.visible{
    display: flex;
}

.modale img{
    width: 800px;
    height: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.modale img:hover{
    cursor: grab;
}

